<% provide(:title, "Info") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | PEDI</title>
</head>
<body>
  <br>
  <div class="center jumbotron">
    <h1 >PEDI</h1>
    <br>
    <p class="center">An Icelandic pronunciation dictionary editor</p>
    <br>
    <br>
    <p class="text-center">
      Get in touch with Anna Björk Nikulásdóttir at Grammatek:
      <a href= "mailto:anna@grammatek.com">anna@grammatek.com</a>
    </p>
  </div>
</body>
</html>

