<h1>Nýtt lykilorð</h1>

<p>Fylgdu tenglinum hér að neðan til þess að breyta lykilorði þínu:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Tengillinn verður óvirkur eftir tvær klukkustundir.</p>

<p>
  Ef þú baðst ekki um að fá þennan tengil sendan, vinsamlegast hunsaðu þennan tölvupóst.
</p>