
@import "./config.scss";
body {
  background-color: #F7F7F7;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  margin: auto;
  text-align: center;

  h1 {
    margin-bottom: 0px;
  }
}


/* typography */

/*h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}*/

h1 {
  /*font-size: 3em;*/
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Quicksand', 'Arial';
  font-size: 40px;
  /*padding-bottom: 70px;*/
}



p {
  font-size: 1.1em; 
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.navbar{
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
}




body{
  padding-top: 100px;
  padding-bottom: 50px;
}


.pagination{
  margin: 0 auto;
}

.dictionary-info{
  margin-bottom: 20px;
  color: $secondary;
}

.divTableHeading{
  font-weight: 600;

  .divTableRow{
    grid-template-columns: 1fr 2fr  20px 20px;
  }

  .divTableHead{
    &.-center{
      justify-self: center;
    }
  }

  
}

.divTableBody{
  width: 100%;
  margin-bottom: 50px;
  
}

.entry{
 
  &.edit{
    .divTableRow:first-child{
      display: none;
    }
   }
}

.divTableRow{
  border-bottom:1px solid $gray-medium-light;
  grid-template-columns: 1fr 2fr 20px 20px ;
  padding: 10px;
  
  display: grid;
  grid-column-gap: 20px;

  &.finished{
    background:rgba(40, 167, 69,0.15);
  }

  &.warning{
    background:rgba(220, 53, 69, 0.15);
  }
  

  &--form{
    background: $gray-medium-light;
    margin-bottom: 10px;
  }
}

.pill{
  padding: 2px 8px;
  font-size: 12px;
  background: #eee;
  border-radius: 10px;
  margin-bottom: 5px;
}



div.divTableCell{

  &__correct{
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 4;
    justify-self: center;
    align-self: center;
  }

  &__sampa{
    white-space: nowrap;
  }

  &__comment{
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 3;
    align-self: center;
    span{
      height: 28px;
      display: block;
    }
  }

  &.-row2{
    padding-bottom: 5px;
    padding-top: 10px;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    div{
      margin-right: 10px;
    }
  }
  
  &.-update{
    grid-row-start: 1;
    grid-row-end: span 3;
    grid-column-start: 4;
    align-self: center;
    justify-self: center;
  }
}

form.divTableCell{
  position: relative;
  grid-column-start: 1;  
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 130px;
  grid-column-gap: 20px;

  .form-check{
    padding-top: 40px;
  }
  
  .btn{
    margin-top: 0;
  }

  .closeRow{
    background:transparent;
    border:none;
    position: absolute;
    right:10px;
    top: 0;
     span {
      pointer-events: none;
    }
  }
}




@media all and(min-width: 576px){
  .container{
    max-width: 750px;
  }
}

@media all and(min-width: 768px){
  .container{
    max-width: 990px;
  }
}

@media all and(min-width: 992px){
  .container{
    max-width: 1100px;
  }
}

@media all and(min-width: 1140px){
  .container{
    max-width: 1200px;
  }
}